<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Category</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='Admin_Dashboard/vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='Admin_Dashboard/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='Admin_Dashboard/vendors/css/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='Admin_Dashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='Admin_Dashboard/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Admin_Dashboard/js/select.dataTables.min.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='Admin_Dashboard/css/vertical-layout-light/style.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='Admin_Dashboard/images/favicon.png')}}" />

  <script>
    // function addToCart(productId) {
    //     fetch('http://127.0.0.1:5000/cat/product_id', 
    //         {method: 'POST'}
    //     )
    // }



  function sendUserInfo(ID) {
  let userInfo = ID
  const request = new XMLHttpRequest()
  request.open('POST', `/processUserInfo/${JSON.stringify(userInfo)}`)
  // request.onload = () => {
  //   const flaskMessage = request.responseText
  //   console.log(flaskMessage)
  // }

  request.send()


}

  // var server = "http://127.0.0.1:5000";

  // function addToCart(productId) {

  //  var productIdb = productId

  //     var appdir='/cart/productId';
  //     $.ajax({
  //         type: "POST",
  //         url:server+appdir,
  //         data: JSON.stringify(productIdb),
  //         dataType: 'json'
  //     })
      // .done(function(data) { 
      //   console.log(data);
      //   names= data['sum'];
        
      // });
    
  // }
  </script>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <!-- <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/logo.svg" class="mr-2"
            alt="logo" /></a>
         <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo" /></a> 
         -->
         <h3> NUIMS </h3>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>

      <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{url_for('static',filename='images/profile_pics/'+picture)}}" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="/User_Dashboard/userProfile/userDetails.html">
                <i class="ti-settings text-primary"></i>
                Update Profile
              </a>
              <a class="dropdown-item" href="/logout">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>


  <!-- partial -->
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/User_Dashboard/userDashboard.html">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Management</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/User_Dashboard/userManagement/user_Management.html">User Management</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
          aria-controls="form-elements">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Categories</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/User_Dashboard/products/products_cat.html">Products</a></li>
          </ul>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Inventory</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/User_Dashboard/displayProducts/showAllProducts.html">Display All Products</a></li>
          </ul>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="icon-contract menu-icon"></i>
          <span class="menu-title">Add Items</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/User_Dashboard/addProducts/add_products.html">To Inventory</a></li>
          </ul>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">User Profile</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/User_Dashboard/userProfile/userDetails.html"> User Details </a></li>
          </ul>
        </div>
      </li>
 
    </ul>
  </nav>
  
  
  <!-- partial -->
      
        <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
                      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">Product Categories </h3>
            </div>
            <div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Sports</h4>
                  <!-- <p class="card-description">
                    Add class <code>.table</code>
                  </p> -->
                  <form method="POST" action="{{url_for('userProducts')}}">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Quantity</th>
                          <th>Image</th>
                          <th>Issue</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in Sports %}
                        {% set value = item[3] %}
                        
                        <tr>
                          <!-- {{msg}} -->
                          <td>{{item[0]}}</td> 
                          <td>{{item[1]}}</td> 
                          <td><img src="{{url_for('static',filename='images/product_pics/'+ item[2] )}}" alt="profile"/></td>
                          <!-- <input type="text"> -->
                          <td><button type="submit" value="{{item[3]}}" class="btn btn-primary btn-sm" name='values'>Add to Cart</button></td>
                          <!-- <td><button type="button" onclick="sendUserInfo('{{item[3]}}')" class="btn btn-primary btn-sm">Add to Cart</button></td> -->
                          <!-- <td><button type="button"><label for="issue" class="badge badge-success">active</label></button></td> -->
                        </tr> 
                        {% endfor %}     
                      </tbody>
                    </table>
                  </div>
                </form>
                </div>
              </div>
            </div>
            <div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Medical</h4>
                  <!-- <p class="card-description">
                    Add class <code>.table</code>
                  </p> -->
                  <form method="POST" action="{{url_for('userProducts')}}">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Quantity</th>
                          <th>Image</th>
                          <th>Issue</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in Medical %}
                        <tr>
                          <td>{{item[0]}}</td> 
                          <td>{{item[1]}}</td> 
                          <td><img src="{{url_for('static',filename='images/product_pics/'+ item[2] )}}" alt="profile"/></td>
                          <td><button type="submit" value="{{item[3]}}" class="btn btn-primary btn-sm" name='values'>Add to Cart</button></td>
                        </tr> 
                        {% endfor %}              
                      </tbody>
                    </table>
                  </div>
                </form>
                </div>
              </div>
            </div>

            <div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ITSC</h4>
                  <!-- <p class="card-description">
                    Add class <code>.table</code>
                  </p> -->
                  <form method="POST" action="{{url_for('userProducts')}}">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Quantity</th>
                          <th>Image</th>
                          <th>Issue</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in Itsc %}
                        <tr>
                          <td>{{item[0]}}</td> 
                          <td>{{item[1]}}</td> 
                          <td><img src="{{url_for('static',filename='images/product_pics/'+ item[2] )}}" alt="profile"/></td>
                          <td><button type="submit" value="{{item[3]}}" class="btn btn-primary btn-sm" name='values'>Add to Cart</button></td>
                        </tr> 
                        {% endfor %}              
                      </tbody>
                    </table>
                  </div>
                </form>
                </div>
              </div>
            </div>

            <div class="col-lg-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Decoration</h4>
                  <!-- <p class="card-description">
                    Add class <code>.table</code>
                  </p> -->
                  <form method="POST" action="{{url_for('userProducts')}}">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Quantity</th>
                          <th>Image</th>
                          <th>Issue</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in Decor %}
                        <tr>
                          <td>{{item[0]}}</td> 
                          <td>{{item[1]}}</td> 
                          <td><img src="{{url_for('static',filename='images/product_pics/'+ item[2] )}}" alt="profile"/></td>
                          <td><button type="submit" value="{{item[3]}}" class="btn btn-primary btn-sm" name='values'>Add to Cart</button></td>
                        </tr> 
                        {% endfor %}              
                      </tbody>
                    </table>
                  </div>
                </form>
                </div>
              </div>
            </div>

        <!-- content-wrapper ends -->
   
   
   
   
   
   
   
   
   
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.Namal Inventory Management System <br> All rights reserved.</span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by TechLions</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  
  <script src="{{url_for('static',filename='Admin_Dashboard/vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static',filename='Admin_Dashboard/vendors/chart.js/Chart.min.js')}}"></script>
  <script src="../../vendors/datatables.net/jquery.dataTables.js')}}"></script>
  <script src="../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="../../js/dataTables.select.min.js"></script>

  

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='Admin_Dashboard/js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='Admin_Dashboard/js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='Admin_Dashboard/js/template.js')}}"></script>
  <script src="{{url_for('static',filename='Admin_Dashboard/js/settings.js')}}"></script>
  <script src="{{url_for('static',filename='Admin_Dashboard/js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='Admin_Dashboard/js/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='Admin_Dashboard/js/Chart.roundedBarCharts.js')}}"></script>
  <!-- End custom js for this page-->
</body>

</html>
